@import './var.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300&display=swap');

body{
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background-color: #ffffff;
}

.nav{
    background-color: $grey;
    height: 120px;
    width: 100%;
}

.logo{
    justify-content: center;
    display: flex; 
}
.navlogo{
    color: #ffffff;
    font-size: 3em;   
}
.navbar{
    width: 100%;
}
.navtopics{
    justify-content: center;
    display: flex;
}
.navtopicsa{
    color: #ffffff;
    font-size: 1.2rem;
}
.navtopicsa a{
    padding: 20px;
}
.btn{
    background-color: $orange;
    color: $white;

    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px $lightorange;

    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}

.page1{
    width: 100%;
}
.page1video{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.page-header__video{
    width: 800px;
}

.water{
    background-color: $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px;
    align-items: center;
}
.water a{
    font-size: 1.3em;
}
.doe{
    color: #ffffff;
}
.water_org{
    text-decoration: none;
    color: $lightorange;
}

.bar{
    background-color: $grey;
    height: 80px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news{
    color: #ffffff;
    letter-spacing: 4px;
}

.content{
    width: 100%;
}
.maincontent{
    justify-content: center;
    display: flex;
}
.news1{
    padding: 10px; 

}
#news img{
    width: 300px;
    height: 200px;
}


button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    display: flex;
   }
   
   button span {
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(5em);
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
}
   
   